.header{
    background-color: #4b5052;
}
.login-wrap{
    background: #4b5052;
}
.plugins-tips{
    background: #eef1f6;
}
.plugins-tips a{
    color: #efb729;
}
.el-upload--text em {
    color: #d2cd5f;
}
.pure-button{
    background: #267dbf;
}
.tags-li.active {
    border: 1px solid #409eff;
    background-color: #4b5052;
}
.message-title{
    color:#4b5052;
}
.collapse-btn:hover{
    background: rgb(23, 54, 1);
}